/* * {
  /* background-image: url(https://unsplash.com/photos/IeuKPmWhXmQ); */
/* box-sizing: border-box; */
/* } */
body {
  background-image: url(https://images.unsplash.com/photo-1603847734787-9e8a3f3e9d60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  font-family: "Poiret One", cursive;
}

.modal {
  background-color: #5b97e7;
  color: white;
  padding: 30px;
  width: 57vw;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  top: 55%;
  transform: translateY(-45%);
  left: 0;
  right: 0;
  margin: 0 auto;
}
.modal.closed {
  display: none;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  height: 650px;
  width: 650px;
  margin: 0 auto;
  position: relative;
  top: -272px;
}

.row {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid #5b97e7;
  margin: 5px;
  background-color: white;
}
.permCellContainer {
  display: flex;
  justify-content: center;
  position: relative;
  /* top: -45px; */
  bottom: 280px;
}

.permCell {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid #5b97e7;
  margin: 5px;
  background-color: #d0b3f2;
}

.style {
  background-color: indigo;
}
.taken {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid steelblue;
  margin: 5px;
}

h1 {
  font-size: 80px;
  font-weight: 800;
  color: #5b97e7;
  text-align: center;
  border: 3px solid #5b97e7;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 64px;
  position: relative;
  top: 19px;
}

#btn {
  text-align: center;
  font-size: 20px;
  border: 1px solid #5b97e7;
  height: 55px;
  width: 150px;
  margin: 10px;
  border-radius: 4px;
  background-color: #d0b3f2;
  color: white;
  position: relative;
  top: 36px;
  left: 25px;
}
h3 {
  background-color: #5b97e7;
  width: 163px;
  font-weight: 700px;
  border-radius: 5px;
  font-size: 25px;
  text-align: left;
  color: white;
  position: relative;
  top: 50px;
  padding: 6px;
  left: 25px;
}

h6 {
  font-size: 25px;
  color: white;
  background-color: #5b97e7;
  width: 240px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  bottom: 229px;
}
a {
  text-decoration: none;
  color: white;
}
/* .container {
  /* display: flex; */
/* flex-wrap: wrap; */
/* justify-content: center;
  flex-direction: column; */
/* border: 3px solid purple; */
/* margin: 5px;
  margin: 0 auto; */
/* max-width: 700vw;
  max-height: 600vh; */

/* .col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7 {
  border: 3px solid purple;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
}
.permDisc {
  border: 3px solid purple;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 10px;
  background-color: purple;
} */
